# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://pcxluehcxuhvoszdiquf.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_xOn0w6k7gN6rJAXFmdH_dw_w2cTVxdg
# AI Service Conf
OPENAI_API_KEY=your-openai-api-key # Or any other AI API keys required
