ALLOW_PAYMENT_SIMULATION="true"
BUILD_CONFIGURATION="Release"
JWT_EXPIRES_IN="7d"
JWT_SECRET="<YOUR_JWT_SECRET>"
NEXT_PUBLIC_BACKEND_URL="http://localhost:5000"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY="<YOUR_SUPABASE_PUBLISHABLE_KEY>"
NEXT_PUBLIC_SUPABASE_URL="<YOUR_SUPABASE_URL>"
RESEND_API_KEY="<YOUR_RESEND_API_KEY>"
SUPABASE_KEY="<YOUR_SUPABASE_KEY>"
SUPABASE_SERVICE_ROLE_KEY="<YOUR_SUPABASE_SERVICE_ROLE_KEY>"
SUPABASE_URL="<YOUR_SUPABASE_URL>"